<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        {% include header.html %}

        <div id="main">
            {% if site.setup == "airtable" %}
                {% if site.data.art %}
                <section class="classes">
                    {% include recent_records.html %}
                </section>
                {% endif %}
            {% endif %}

            <!-- Blog Articles -->
            {% if site.setup == "blog" %}
                {% include recent_posts.html %}
            {% endif %}


            {% include footer.html %}
        </div>

    </body>

</html>
