<!-- Artwork  -->
<div class="grid row" style="position: relative; display: flex; justify-content:flex-start; align-items: stretch; flex-flow: row wrap; width: 100%; margin:0;">

  <!-- On Demand -->
  {% assign sortedRecords = site.data.art.records | sort: 'fields.date-time' %}
  {% for record in sortedRecords %}
  <div class="element-item {{ record.fields.categories }} {{ record.fields.availability }} 4u 12u$(medium) art" style="background-image:url('{{ record.fields.Attachments[0].url }}'); ">
    <button class="modal-button special center" href="#myModal{{ forloop.index }}">View Piece</button>
  </div>
  {% endfor %}
</div>


{% assign sortedRecords = site.data.art.records | sort: 'fields.date-time' %}
{% for record in sortedRecords %}
<!-- The Modal -->
<div id="myModal{{ forloop.index }}" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <img src="{{ record.fields.Attachments[0].url }}"/>
    <div class="modal-info">        
      <button class="close special" style="margin-bottom: 2em;">Return to Gallery</button>
      <!-- {% if record.fields.name %}<h2>{{ record.fields.name }}</h2>{% endif %}
      {% if record.fields.price %}<h5>{{ record.fields.price }}</h5>{% endif %}
      {% if record.fields.size %}<p>{{ record.fields.size }}</p>{% endif %}
      {% if record.fields.description %}<p>{{ record.fields.description }}</p>{% endif %} -->
      <p>{{ record.fields.availability }}</p>
      <p>{{ record | inspect }}</p>
    </div>
  </div>
</div>
{% endfor %}


<script type="text/javascript"> 
// Get the button that opens the modal
var btn = document.querySelectorAll("button.modal-button");

// All page modals
var modals = document.querySelectorAll('.modal');

// Get the <span> element that closes the modal
var spans = document.getElementsByClassName("close");

// When the user clicks the button, open the modal
for (var i = 0; i < btn.length; i++) {
 btn[i].onclick = function(e) {
    e.preventDefault();
    modal = document.querySelector(e.target.getAttribute("href"));
    modal.style.display = "block";
 }
}

// When the user clicks on <span> (x), close the modal
for (var i = 0; i < spans.length; i++) {
 spans[i].onclick = function() {
    for (var index in modals) {
      if (typeof modals[index].style !== 'undefined') modals[index].style.display = "none";    
    }
 }
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target.classList.contains('modal')) {
     for (var index in modals) {
      if (typeof modals[index].style !== 'undefined') modals[index].style.display = "none";    
     }
    }
}
</script>