<!-- Artwork  -->
<div class="grid row" style="position: relative; display: flex; justify-content:flex-start; align-items: stretch; flex-flow: row wrap; width: 100%; margin:0;">

  <!-- On Demand -->
  {% assign sortedRecords = site.data.art.records | sort: 'fields.date-time' %}
  {% for record in sortedRecords | limit:6 %}
  <div class="element-item {{ record.fields.category }} 4u 12u$(medium) art" style="background-image:url('{{ record.fields.Attachments[0].url }}');">
  ,<!-- <span class="image"><img src=""/></span> -->
  <button class="modal-button special center" href="#myModal{{ forloop.index }}">View Piece</button>
  </div>
  <!-- The Modal -->
  <div id="myModal{{ forloop.index }}" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <img src="{{ record.fields.Attachments[0].url }}"/>
      <div class="modal-info">        
        <h1>{{ record.fields.name }}</h1>
        <h4>{{ record.fields.price }}</h4>
        <p>{{ record.fields.size }}</p>
        <p>{{ record.fields.description }}</p>
        <button class="close special">Return to Gallery</button>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<!-- <ul class="actions vertical">
  <li><a href="../" class="button special">View All</a></li>
</ul> -->


<script type="text/javascript"> 
// Get the button that opens the modal
var btn = document.querySelectorAll("button.modal-button");

// All page modals
var modals = document.querySelectorAll('.modal');

// Get the <span> element that closes the modal
var spans = document.getElementsByClassName("close");

// When the user clicks the button, open the modal
for (var i = 0; i < btn.length; i++) {
 btn[i].onclick = function(e) {
    e.preventDefault();
    modal = document.querySelector(e.target.getAttribute("href"));
    modal.style.display = "block";
 }
}

// When the user clicks on <span> (x), close the modal
for (var i = 0; i < spans.length; i++) {
 spans[i].onclick = function() {
    for (var index in modals) {
      if (typeof modals[index].style !== 'undefined') modals[index].style.display = "none";    
    }
 }
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target.classList.contains('modal')) {
     for (var index in modals) {
      if (typeof modals[index].style !== 'undefined') modals[index].style.display = "none";    
     }
    }
}
</script>