<!-- NEW: No links -->
<section id="one" class="tiles">
  {% for post in site.posts limit:site.tiles-count reversed %}
  {% if site.tiles-source == 'posts' %}
  <a href="{{ post.url  | relative_url }}" class="link">
    <article>
      <span class="image">
        <img src="{{ post.image }}" alt="{{ post.image-alt }}" />
      </span>
      <header class="major">
        <h3>{{ post.title }}</h3>
      </header>
      <p>{{ post.description }}</p>
    </article>
  </a>
  {% endif %}
  {% endfor %}
  {% for page in site.html_pages %}
  {% if site.tiles-source == 'pages' and page.show_tile != false %}
  <a href="{{ page.url | relative_url  }}" class="link">
    <article>
      <span class="image">
        <img src="{{ page.image }}" alt="{{ page.image-alt }}" />
      </span>
      <header class="major">
        <h3>{{ page.title }}</h3>
      </header>
      <p>{{ page.description }}</p>
    </article>
  </a>
  {% endif %}
  {% endfor %}
</section>
