<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        {% include header.html %}


            <!-- Recent Records -->
            {% if site.data.art %}
                <section class="classes">
                  <div  class="button-group filter-button-group filters" style="margin-bottom: 1em; margin-left: 1em;">
                    <a class="button special active" data-filter="*">All</a>
                    <a id="acrylic" class="button special" data-filter=".acrylic">Acrylic (<span id="countAcrylic">0</span>)</a>
                    <a id="drawing" class="button special" data-filter=".drawing">Drawing (<span id="countDrawing">0</span>)</a>
                    <a id="ink" class="button special" data-filter=".ink-painting">Ink Painting (<span id="countInk">0</span>)</a>
                    <a id="oil" class="button special" data-filter=".oil">Oil (<span id="countOil">0</span>)</a>
                    <a id="watercolour" class="button special" data-filter=".watercolour">Watercolour (<span id="countWatercolour">0</span>)</a>
                  </div> 
                </section>

                <!-- Artwork  -->
                <div class="grid row" style="position: relative; display: flex; justify-content:flex-start; align-items: stretch; flex-flow: row wrap; width: 100%; margin:0;">

                  <!-- On Demand -->
                  {% assign sortedRecords = site.data.art.records | sort: 'fields.date-time' %}
                  {% for record in sortedRecords %}
                  {% if record.fields.genre == page.genre %}
                  <a href="#myModal{{ forloop.index }}" class="modal-button element-item {{ record.fields.genre }} {{ record.fields.categories }} {{ record.fields.availability[0] }} {{ record.fields.availability[1] }}  4u 12u$(medium) art" style="background-image:url('{{ record.fields.Attachments[0].url }}');">
                    <button class="special center">{{ record.fields.name }}</button>
                  </a>
                  {% endif %}
                  {% endfor %}
                </div>


                {% assign sortedRecords = site.data.art.records | sort: 'fields.date-time' %}
                {% for record in sortedRecords %}
                <!-- The Modal -->
                <div id="myModal{{ forloop.index }}" class="modal">
                  <!-- Modal content -->
                  <div class="modal-content">
                    <img src="{{ record.fields.Attachments[0].url }}"/>
                    <div class="modal-info">        
                      <button class="close special" style="margin-bottom: 2em;">View all {{ page.title }}</button>
                      {% if record.fields.name %}<h2 style="margin-bottom: 0;">{{ record.fields.name }}</h2>{% endif %}
                      <h5 style="text-transform: lowercase;">{% if record.fields.price %}{{ record.fields.price }}&nbsp;&nbsp;|&nbsp;&nbsp;{% endif %}{% if record.fields.size %}{{ record.fields.size }}{% endif %}</h5>
                      {% if record.fields.description %}<p>{{ record.fields.description }}</p>{% endif %}
                    </div>
                  </div>
                </div>
                {% endfor %}


                <script type="text/javascript"> 
                // Get the button that opens the modal
                var btn = document.querySelectorAll("a.modal-button");

                // All page modals
                var modals = document.querySelectorAll('.modal');

                // Get the <span> element that closes the modal
                var spans = document.getElementsByClassName("close");

                // When the user clicks the button, open the modal
                for (var i = 0; i < btn.length; i++) {
                 btn[i].onclick = function(e) {
                    e.preventDefault();
                    modal = document.querySelector(e.target.getAttribute("href"));
                    modal.style.display = "block";
                 }
                }

                // When the user clicks on <span> (x), close the modal
                for (var i = 0; i < spans.length; i++) {
                 spans[i].onclick = function() {
                    for (var index in modals) {
                      if (typeof modals[index].style !== 'undefined') modals[index].style.display = "none";    
                    }
                 }
                }

                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function(event) {
                    if (event.target.classList.contains('modal')) {
                     for (var index in modals) {
                      if (typeof modals[index].style !== 'undefined') modals[index].style.display = "none";    
                     }
                    }
                }
                </script>

                {% endif %}


                <script type="text/javascript"> 
                // Get the button that opens the modal
                var btn = document.querySelectorAll("button.modal-button");

                // All page modals
                var modals = document.querySelectorAll('.modal');

                // Get the <span> element that closes the modal
                var spans = document.getElementsByClassName("close");

                // When the user clicks the button, open the modal
                for (var i = 0; i < btn.length; i++) {
                 btn[i].onclick = function(e) {
                    e.preventDefault();
                    modal = document.querySelector(e.target.getAttribute("href"));
                    modal.style.display = "block";
                 }
                }

                // When the user clicks on <span> (x), close the modal
                for (var i = 0; i < spans.length; i++) {
                 spans[i].onclick = function() {
                    for (var index in modals) {
                      if (typeof modals[index].style !== 'undefined') modals[index].style.display = "none";    
                    }
                 }
                }

                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function(event) {
                    if (event.target.classList.contains('modal')) {
                     for (var index in modals) {
                      if (typeof modals[index].style !== 'undefined') modals[index].style.display = "none";    
                     }
                    }
                }
                </script>


            {% include footer.html %}
        </div>

    </body>

</html>

<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.js"></script>
<script>
// Modal counts
  function countTypes() {
  var countAcrylic = document.getElementsByClassName('acrylic').length;
  if (countAcrylic === 0) {
  document.getElementById('acrylic').style.display = 'none';
  console.log('hide countAcrylic');
  } else {
  document.getElementById('countAcrylic').innerHTML = countAcrylic;
  console.log(countAcrylic);
  }
  
  var countDrawing = document.getElementsByClassName('drawing').length;
  if (countDrawing === 0) {
  document.getElementById('drawing').style.display = 'none';
  console.log('hide countDrawing');
  } else {
  document.getElementById('countDrawing').innerHTML = countDrawing;
  console.log(countDrawing);
  }
  var countInk = document.getElementsByClassName('ink-painting').length;
  if (countInk === 0) {
  document.getElementById('ink').style.display = 'none';
  console.log('hide countDrawing');
  } else {
  document.getElementById('countInk').innerHTML = countInk;
  console.log(countInk);
  }
  var countOil = document.getElementsByClassName('oil').length;
  if (countOil === 0) {
  document.getElementById('oil').style.display = 'none';
  console.log('hide countDrawing');
  } else {
  document.getElementById('countOil').innerHTML = countOil;
  console.log(countOil);
  }
  var countWatercolour = document.getElementsByClassName('watercolour').length;
  if (countWatercolour === 0) {
  document.getElementById('watercolour').style.display = 'none';
  console.log('hide countDrawing');
  } else {
  document.getElementById('countWatercolour').innerHTML = countWatercolour;
  console.log(countWatercolour);
  }
  }

  window.onload = countTypes;
</script>
<script>
  // init Isotope
  var $grid = $('.grid').isotope({
    // options
    
  });
  // filter items on button click
  $('.filter-button-group').on( 'click', 'a', function() {
    var filterValue = $(this).attr('data-filter');
    $grid.isotope({ filter: filterValue });
  });
  $('.button-group a.button').on('click', function(){
    $('.button-group a.button').removeClass('active');
    $(this).addClass('active');
  });
</script>