/* Main */

	#main {
		/*background-color: _palette(bg-alt);*/
		/*margin-top:10em;*/

		@include breakpoint(small) {
		/*margin-top: 6em !important;*/
		margin: 0 auto;
		}

		> * {
			/*border-top: solid 1px _palette(border);*/

			&:first-child {
				border-top: 0;
			}

			@include inner;
		}

		&.alt {
			background-color: transparent;
			border-bottom: solid 1px _palette(border);
		}


		/* Safari */
		@-webkit-keyframes spin {
		  0% { -webkit-transform: rotate(0deg); }
		  100% { -webkit-transform: rotate(360deg); }
		}

		@keyframes spin {
		  0% { transform: rotate(0deg); }
		  100% { transform: rotate(360deg); }
		}
	}